$primary: #6ab04c !default;
$info:#3498db !default;
$warning: #f1c40f !default;
$danger:#e74c3c !default;
$success: #2ecc71 !default;
$field-font-family:'Arial' !default;

.background-primary{
	background-color:$primary;
	color:#eee;
}

.background-danger{
	background-color:$danger;
	color:#eee;
}

.background-info{
	background-color:$info;
	color:#eee;
}

.background-gray{
	background-color: #ddd;

}

body{
	background:#eee;
	margin:0;
}

@mixin form-field-normal {
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
}

.button{

	cursor: pointer;

	@include form-field-normal();
	border-color: #ccc;
	transition: background-color 300ms, border-color 300ms;
	background-color: #ddd;
	
	&:hover{
		background-color: #d5d5d5;
		border-color: #c5c5c5;
	}
}

.input{

	@include form-field-normal();
	border-color: #ccc;
	transition: border-color 300ms,background-color 300ms, color 300ms;

	&:hover{
		background-color: #f8f8f8;
	}

	&.valid{
		
		border-color: $primary;
		color: $primary;
	}
}

.checkbox{

	cursor: pointer;
}

.radio{

	cursor: pointer;
}

.select{

	@include form-field-normal();
	border-color: #ccc;
	transition: border-color 300ms, color 300ms;

	&:hover{
		border-color: #c8c8c8;
		background-color: #f8f8f8;
	}

	&.valid{
		
		border-color: $primary;
		color: $primary;
	}

	option{
		padding:10px;
	}
}

.textarea{

	@include form-field-normal();
	border-color: #ccc;
	transition: border-color 300ms,background-color 300ms, color 300ms;

	&:hover{
		border-color: #c8c8c8;
		background-color: #f8f8f8;
	}

	&.valid{
		
		border-color: $primary;
		color: $primary;
	}
}

.modal{

	.modal-overlay{
		background-color: rgba(0,0,0,0.5);
		transition: opacity 300ms;
	}

	.modal-body{
		padding: 20px;
		min-width: 500px; 
		background:#eee;
		border-radius: 5px;

		.confirmation-modal-details{
			padding-bottom: 20px;
			text-align: center;
		}
	}
}

.label{

	@include form-field-normal();
	border-color: #ccc;
	transition: border-color 300ms, color 300ms;
	display: inline-block;
	display: flex;
	align-items: center;
}

.form-line{

	margin-bottom: 10px;
	display: flex;

	&.fullwidth{
		&>.field.expanded{
			flex:1;
		}
	}
	.field:hover{
		border-right-width: 1px !important;
	}
	.field:hover+.field{
		border-left-width: 0;
	}
	.field.valid{
		border-right-width: 1px !important;
	}
	.field.valid+.field{
		border-left-width: 0;
	}
	&>.field:nth-child(1):not(:nth-last-child(1)){
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right-width: 0;
		margin-right: 0;
	}
	&>.field:nth-last-child(1):not(:nth-child(1)){
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: 0;
	}

	&>.field:not(:nth-child(1)):not(:nth-last-child(1)){
		border-radius: 0;
		border-right-width: 0;
		margin-left: 0;
		margin-right: 0;
	}
}

.field{
	font-family: inherit;
	font-size: inherit;
	margin: 0 5px;
}

.icon{
	transition: opacity 300ms;
}

$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1200px;

.container{

	margin:auto;
	padding: 5px;
	box-sizing: border-box;

	@media screen and (min-width:$tablet-breakpoint) {
		padding:10px;
		width: 768px;
		max-width: 95%;
	}
	@media screen and (min-width:$desktop-breakpoint) {
		padding:20px;
		width: 800px;
	}
	@media screen and (min-width:$large-desktop-breakpoint) {
		padding:20px;
		width: 800px;
	}
}

.fullscreen{

	header,footer{
		padding:10px;
		background-color: #444;
		color:#eee;
	}
}

.message-box{
	padding:10px;
	border-radius: 5px;
	position: relative;
	margin: 10px 0;

	.closeButton{
		position: absolute;
		top:10px;
		right:10px;
		cursor: pointer;
		transition: opacity 300ms;

		&:hover{
			opacity: 0.7;
		}
	}
}

.notifications{

	position: fixed;
	bottom:10px;
	right:10px;
	z-index: 9999;

	@keyframes fadeIn {
		from{
			opacity: 0;
			transform: translate3d(0, -100%, 0);
		}
		to{
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}

	@keyframes fadeOut {
		from{
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
		to{
			opacity: 0;	
			transform: translate3d(0, +100%, 0);
		}
	}

	.notification{

		padding:10px;
		margin-bottom: 10px;
		border: 1px solid #c8c8c8;
		border-radius: 5px;
		min-width: 300px;
		background: #fff;
		text-align: center;
		animation: fadeIn 500ms;

		&.fadeOut{
			animation: fadeOut 500ms;
			animation-iteration-count: 1;
		}
	}
}

.dropdown{

	margin-right: 10px;

	.dropdown-button{

		cursor: pointer;
		@include form-field-normal();
		border-color: #ccc;

		&:hover{
			border-color: $primary;
		}

		&::after{ 
			
			font-family: "Font Awesome 5 Pro";
			font-weight: 900;
			content: "\f0d7";
			margin-left: 5px;
		}
	}

	.dropdown-item{
		padding:5px 10px;
		margin:5px 0;
	}

	.dropdown-list{
		z-index: 999;
		background:#fff;
		border:1px solid #c8c8c8;
		border-top: 0;
		border-radius: 0 0 5px 5px;
	}
}

.progress-bar{
	height:20px;
	background-color: #ddd;
	border-radius: 5px;
	margin: 10px 0;

	.progress-bar-value{

		background-color: $primary;
		transition: width 200ms;
	}
}